html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  font-family: Verdana;
  line-height: 1.4;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input:focus,
select:active,
select:hover {
  outline-color: white;
}

.color-white {
  color: white !important;
}
